*{
	box-sizing: border-box;
	
}
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
	background: lemonchiffon;
}
.navbar{
	display: flex;
	font-size: 60px;
	font-weight: bolder;
	font-family: 'Pacifico', cursive;
	padding: 10px 20px;
	color: lightpink;
	background: #fff;
	
	
/*	justify-content: space-between; instead of margin-left:auto in navtoggle;
*/}
.navbar a{
	text-decoration: none;
	color: lightpink;



}
.navlist li{
	list-style: none;
	background: #fff;
	
}
.navlist  a{
	
	text-decoration: none;
	color: powderblue;
	font-size: 40px;
	font-family: arial black;

}
.navtoggle{
	margin-left: auto;
	cursor: pointer;

}

.navlistcollapse{
	display: none; /* onclick adds n removes  class*/
}







